body {
  background-color: darkgoldenrod;
  font-family: monospace;
}

h1 {
  text-align: center;
}
button {
  display: block;
  margin: 50px auto;
  padding: 10px 30px;
  background-color: darkgoldenrod;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 5px;
  font-weight: 600;
}
button:hover {
  transform: translateY(5%);
  background-color: rgb(226, 192, 104);
  transition: 1.2s;
  font-weight: 600;
  color: cornsilk;
  letter-spacing: 10px;
}

#gameArea {
  height: 60vh;
  width: 90vw;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightyellow;
}

#square {
  position: absolute;
  height: 50px;
  width: 50px;
  background: crimson;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  color: white;
}
#info {
  text-align: center;
  font-size: medium;
}
#score,
#bestScore {
  text-align: right;
  margin-right: 5%;
}
