body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px;
  margin: 5px, 0;
  background: #f0f0f0;
  cursor: pointer;
}

li.done {
  text-decoration: line-through;
  color: gray;
}
