body {
  font-family: monospace;
  background: darkkhaki;
}

h1 {
  text-align: center;
}

#info {
  margin: 30px 0;
  text-align: center;
  font-size: large;
  color: green;
}

#score,
#timer {
  text-align: right;
  margin-right: 5%;
  font-weight: 600;
  font-size: medium;
}

button {
  padding: 5px 15px;
  display: block;
  margin: 30px auto;
  color: white;
  font-weight: 600;
  font-size: medium;
  background-color: rgb(84, 139, 30);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: -2px -2px rgb(61, 106, 16);
  letter-spacing: 3px;
}
button:hover {
  transform: scale(1.1);
  transition: 1.2s;
}

#gameArea {
  width: 80vw;
  height: 60vh;
  background-color: cornsilk;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.ball {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}
.ball:hover {
  transform: scale(1.2);
}
