body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

#box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  transition: background 0.3s;
  cursor: pointer;
  user-select: none;
}

.box-wait {
  background: gray;
  color: white;
}
.box-ready {
  background: green;
  color: white;
}

.box-too-soon {
  background: red;
  color: white;
}

.box-result {
  background: blue;
  color: white;
}

#message {
  font-size: 24px;
  margin-top: 20px;
}
