body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: monospace;
  color: white;
  text-align: center;
}
h1 {
  margin: 80px auto;
  color: #00eaff;
  letter-spacing: 3px;
  text-shadow: 0 0 10px #0077aa;
}

#hud {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid white;
}
#hud p {
  margin: 5px 0;
  font-size: 18px;
}

#startBtn {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background: #00eaff;
  border: none;
  cursor: pointer;
  color: #000;
  border-radius: 5px;
  transition: 1.3s;
  box-shadow: 0 0 15px #0ff;
}
#startBtn:hover {
  transform: scale(1.1);
  transition: 1.3s;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
canvas {
  background: #111;
  border: 3px solid #0ff;
  box-shadow: 0 0 15px #0ff;
}
